###Python Data Structures
#1. What are data structures, and why are they important?
-Data structures are ways of organising and storing data. It is important as this way it can be easily accessed and manupulated efficiently.
#2. Expalin the difference between mutable and immutable data types with examples.
-Mutable data types can be changed later e.g data
inside a list are mutable and can be changed later
however immutable data types cannot be changed/updated later
e.g data inside tuples cannot be changed later.
#3.What are the main differences between lists and tuples in Python?
-The main differences between lists and tuples are as follows:
-a)lists are mutable and indexation to change an element is possible however tuples are immutable and indexation cannot be used to change an element.
-b)lists are defined with [] however tuples are defined with ()
#4.Describe how dictionaries store data.
-Dictionaries store data in the form of key value pairs

#5.Why might you use a set instead of a list in Python?
-Sets key feature is its capability to manage duplicate values so if required to manageduplicate values I will
use set instead of list

#6.What is a string in Python, and how is it different from a list?

-String is a texual data type or a sequence of character however list is a hetrogenous data structure capable of storing multiple data types
#7.How do tuples ensure data integrity in Python

-As elements inside tuples cannot be manupulated later therefore if any data should not be changed later and should be permanent than it should be defined as tuples helping in data integrity in Python.

#8. What is a hash table, and how does it relate to dictionaries in Python

-A Hash table in Python is a data structure where data is stored with a unique index value.

Dictionaries are also defined as key value pair where the key should be unique and duplication is not allowed. If a duplicate value is provided then the last value provided for the key will be updated.

#9. Can lists contain different data types in Python?
-Yes lists data structures can contain different
data types which are mutable
#10.Expalin why strings are immutable in Python.
-Strings are immutable as indexation cannot be used to access and update a single character in a sequence of character in a string
#11.What advantages do dictionaries offer over lists for certain tasks?
-Dictionaries offer the opportunity to customise the key value which can help in certain scanarios where key can be associated to the main category with all the resulting value
associated to the main category/key value.
#12.Describe a scenario where using a tuple would be preferable over a list.
-Using a tuple would be more preferable while defining staff IDs of employees of an organisation as it does not require to be changed later
#13.How do sets handle duplicate values in Python?
-Sets will automatically remove all the duplicate values provided at the time of defining a set
#14.How does the "in" keyword work differently for list and dictionaries?
-The "in" keyword in list iterates through the values to look for the match however in dictionaries it iterates
through the keys
#15. Can you modify the elements of a tuple? Explain why or why not.
-No you cannot modify the elements of a tuple as it is the key feature of tuples to ensure data is stored permanently
which does not need to be modified later
#16.What is a nested dictionary,and give an example of its use case?
-A nested dictionary is a dictionary inside another dictionary where for one dictionary the value is another dictionary. A used case for such nested dictionary is a employee database in an organisation where the employee ID is the primary key and then the value of it is another dictionary with the name and other important information as the key and the respective details as the value.
#17. Describe the time complexity of accessing elements in a dictionary.
-The time to retrieve an element during a search is constant and does not depend on the size of the dictionary
#18.In what situations are lists preferred over dictionaries?
-Dictionaries are key value pairs so if you dont have a key and just want to store values without any customized keys than List is a better option
#19.Why are dictionaries considered unordered,and how does that affect data retrieval?
-Dictionaries are not indexed and therefore indexation to iterate through the values does not work which is why dictionaries are considered unordered. Indexation cannot be used to retrieve data values instead keys are searched to retrieve the data.
#20.Explain the difference between a list and a dictionary in terms of data retrieval.
-Data in list is retrieved through indexation however data in dictionary is retrieved by searching for the keys as there is no indexation in dictionaries.

In [43]:
#1.Write a code to create a string with your name and print it.
demo_name="Rishabh Minda"
print(demo_name)

Rishabh Minda

In [44]:
#2. Write a code to find the length of the string "Hello World".
len("Hello World")

11

In [45]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
demo_slice="Python Programming"
print(demo_slice[0:3])

Pyt

In [46]:
#4.Write a code to convert the string "hello" to uppercase.
demo_upper="hello"
print(demo_upper.upper())

HELLO

In [48]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
demo_text = "I like apple"
demo_replace = demo_text.replace("apple","orange")
print(demo_replace)

I like orange

In [49]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
demo_list=[1,2,3,4,5]
print(demo_list)

[1, 2, 3, 4, 5]

In [50]:
#7.Write a code to append the number 10 to the list[1,2,3,4]
demo_list=[1,2,3,4]
demo_list.append(10)
print(demo_list)

[1, 2, 3, 4, 10]

In [51]:
#8.Write a code to remove the number 3 from the list[1,2,3,4,5]
demo_list=[1,2,3,4,5]
demo_list.remove(3)
print(demo_list)

[1, 2, 4, 5]

In [52]:
#9.Write a code to access the second element in the list['a','b','c','d']
demo_list=['a','b','c','d']
print(demo_list[1])

b

In [53]:
#10.Write a code to reverse the list[10,20,30,40,50]
demo_reverse=[10,20,30,40,50]
print(demo_reverse[::-1])

[50, 40, 30, 20, 10]

In [54]:
#11.Write a code to create a tuple with the elements 10,20,30 and print it.
demo_tuple=(10,20,30)
print(demo_tuple)

(10, 20, 30)

In [55]:
#12.Write a code to access the first element of the tuple('apple','banana','cherry')
demo_tuple=('apple','banana','cherry')
print(demo_tuple[0])

apple

In [56]:
#13.Write a codde to count how many times the number 2 appears in the tuple(1,2,3,2,4,2)
demo_tuple=(1,2,3,2,4,2)
print(demo_tuple.count(2))

3

In [57]:
#14.Write a code to find the index of the element 'cat' in the tuple('dog','cat,'rabbit')
demo_tuple=('dog','cat','rabbit')
print(demo_tuple.index('cat'))

1

In [59]:
#15.Write a code to check if the element 'banana' is in the tuple('apple','orange','banana')
demo_tuple=('apple','orange','banana')
'banana' in demo_tuple

True

In [60]:
#16.Write a code to create a set with the elements 1,2,3,4,5 and print it
demo_set={1,2,3,4,5}
print(demo_set)

{1, 2, 3, 4, 5}

In [61]:
#17.Write a code to add the element 6 to the set{1,2,3,4}
demo_set={1,2,3,4}
demo_set.add(6)
print(demo_set)

{1, 2, 3, 4, 6}

In [62]:
#18.Write a code to create a tuple with the elements 10,20,30 and print it.
demo_tuple=(10,20,30)
print(demo_tuple)

(10, 20, 30)

In [63]:
#19.Write a code to access the first element of the tuple('apple','banana','cherry')
demo_tuple=('apple','banana','cherry')
print(demo_tuple[0])

apple

In [64]:
#20.Write a codde to count how many times the number 2 appears in the tuple(1,2,3,2,4,2)
demo_tuple=(1,2,3,2,4,2)
print(demo_tuple.count(2))

3

In [65]:
#21.Write a code to find the index of the element 'cat' in the tuple('dog','cat,'rabbit')
demo_tuple=('dog','cat','rabbit')
print(demo_tuple.index('cat'))

1

In [66]:
#22.Write a code to check if the element 'banana' is in the tuple('apple','orange','banana')
demo_tuple=('apple','orange','banana')
'banana' in demo_tuple

True

In [68]:
#23.Write a code to create a set with the elements 1,2,3,4,5 and print it
demo_set={1,2,3,4,5}
print(demo_set)

{1, 2, 3, 4, 5}

In [69]:
#24.Write a code to add the element 6 to the set{1,2,3,4}
demo_set={1,2,3,4}
demo_set.add(6)
print(demo_set)

{1, 2, 3, 4, 6}